@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Buttons style */
  .btn {
    @apply font-normal capitalize rounded-sm py-3.5 px-11;
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-secondary transition-all;
  }

  /* input styles */

  .input {
    @apply bg-neutral border border-neutral text-neutral text-sm rounded-sm focus:bg-white focus:border-primary block w-full p-2.5 outline-none;
  }

  /* Section style */

  .home__header__banner {
    @apply bg-center bg-cover bg-no-repeat;
  }

  .wrapper {
    @apply max-w-screen-xl mx-auto px-10;
  }
}

.bg-services-header-overlay {
  background-image: url(/bg_header_about.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
